@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* add the code bellow */
@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}

/* Chakra Tabs */
.chakra-tabs__tab[aria-selected='true'] {
    position: relative;
}
.chakra-tabs__tab[aria-selected='true']::after {
    content: ' ';
    height: 2px;
    width: 35%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0466c8;
    transition: all 0.5s ease-in-out;
    will-change: height;
}
